<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="main-layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="/api/items/add-item" method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <label>MODEL NAME</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" name="modelName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>COST</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" name="cost">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>DESCRIPTION</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea class="form-control" rows="10" cols="40" name="description"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button  class="btn btn-success btn-sm">ADD ITEM</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>